*{
    padding: 0;
}

.div_aposta{

display: flex;
background-color: #0b0b0b;
border-radius: 30px;
align-items: center;
margin-top: 5px;
height:20px;
margin-left: 3px;
border: solid white 1.5px ;

}

.img_aposta{

    width: 16px;
    height: 16px;
    margin-left: 14px;
}

.texto_aposta{

margin-left: 4px;
margin-top: 2px;
color: white;
font-size: 18px;

}