
.div_Cards{

    position: fixed;
    
   
    
  
}

.card_esquerda{

    height: 22.5px;
    width: 15px;
    margin-left: 17px;
    
   
    
}

.card_direita{

    height: 22.5px;
    width: 15px;
    margin-left: 3px;

}